extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            +outputRating(location.rating)
          p '14, Monavalley Industrial Estate, Tralee, Co. Kerry, V92
          .card.card-primary
            .card-block
              h2.card-title Opening hours
              each time in location.openingTimes
                p.card-text
                  | #{time.days} : 
                  if time.closed
                    | closed
                  else
                    | #{time.opening} - #{time.closing}
          .card.card-primary
            .card-block
              h2.card-title Facilities
              each facility in location.facilities
                span.badge.badge-warning
                  i.fa.fa-check
                  | &nbsp;#{facility}
                | &nbsp;
        .col-12.col-md-6.location-map
          .card.card-primary
              img(src='../images/brandonHotel.jpg' alt='Brandon' style='width:100px; height:100px;')
      
          
    .col-12.col-lg-3
      p.lead #{location.name} #{sidebar.context}
      p= sidebar.callToAction
